{% extends '@ForciMenuBuilder/layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('forci_menu_builder_route_list') }}">
            Routes
        </a>
    </li>
{% endblock %}