{% extends '@ForciMenuBuilder/layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('forci_menu_builder_menu_list') }}">
            Menus
        </a>
    </li>
{% endblock %}